
.movie-grid-container {
  display: flex;
  flex-direction: column;
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vh;
  padding: 0;
  height: fit-content;
}

