@import "../../styles/partials/mixin";
@import "../../styles/partials/mediaQueries";
@import "../../styles/partials/colors";

.Modal {
    @include heightWidth(80%, 50%);
    @include paddingMargin(0, 0 auto);
    background: $primaryGrey;
    color: $primaryBlack;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    @include responsive(medium-screens) {
        @include heightWidth();
    }
}

.Open {
    display: block;
    transform: translate(-50%, -50%);
}

.Close {
    display: none;
    transform: translate(-50%, -100%);
}

.Movies {
    @include heightWidth(auto, 90%);
    @include paddingMargin(2rem 0, 2% auto);
    min-height: 70vh;
    overflow-y: auto;
    position: relative;

    &__text {
        font-size: 1.5rem;
        line-height: 3rem
    }

    .Movie {
        @include heightWidth(auto, auto);
        @include paddingMargin(0, 0);
        @include centeredGrid();
        @include displayGrid(auto, repeat(auto-fit, minmax(200px, 1fr)));
        row-gap: 1rem;
        column-gap: .3rem;

        @include responsive(medium-screens) {
            @include displayGrid(auto, repeat(auto-fit, minmax(1fr, 1fr)));
        }
    }

    .FoundSearch {
        display: none;
    }

    .NoSearch {
        @include paddingMargin(2rem, 0 auto);
        @include heightWidth(auto, auto);
        @include centeredGrid();
        display: block;
        background: $card-button;
        color: $primaryWhite;
        border-radius: .7rem;
        font-size: 3rem;
        font-weight: bold;
        transition: transform 2s ease-in-out;
    }


}