.Modal {
  height: 90%;
  width: 90%;
  padding: 0;
  margin: 0 auto;
  background: #eee;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 1000;
}

@media only screen and (max-width: 800px) {
  .Modal {
    height: 100%;
    width: 100%;
  }
}

.Modal__information {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  -ms-justify-content: "center";
  -ms-align-items: "center";
}

@media only screen and (max-width: 800px) {
  .Modal__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
}

.Modal__information .image {
  height: 100%;
  width: auto;
  min-width: 60%;
}

@media only screen and (max-width: 800px) {
  .Modal__information .image {
    height: 40%;
    width: 100%;
    min-width: unset;
    min-height: 40%;
  }
}

.Modal__information .image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

@media only screen and (max-width: 800px) {
  .Modal__information .image img {
    border-radius: unset;
  }
}

.Modal__information .details {
  height: 100%;
  width: auto;
  padding: 0 1rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-justify-content: space-evenly;
  -ms-align-items: center;
  min-width: 30%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .Modal__information .details {
    height: auto;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    min-width: unset;
    min-height: 40%;
  }
}

.Modal__information .details p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-justify-content: space-between;
  -ms-align-items: center;
  width: 100%;
}

.Modal__information .details p span {
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: bold;
  background: white;
  color: black;
  border-radius: .4rem;
}

.Modal__information .details__overview {
  height: auto;
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 20%;
  text-align: justify;
  line-height: 2rem;
  overflow-x: auto;
  font-weight: lighter;
}

@media only screen and (max-width: 800px) {
  .Modal__information .details__overview {
    min-height: 15%;
  }
}

.Modal__information .details .closeBtn {
  height: 100%;
  width: 100%;
}

.Modal__information .details .closeBtn button {
  height: auto;
  width: 10%;
  padding: 1rem;
  margin: 0 auto;
  border-radius: .4rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: #97271a;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  .Modal__information .details .closeBtn button {
    left: unset;
    right: 0;
    width: 20%;
  }
}

.Open {
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Close {
  display: none;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.Movies {
  height: auto;
  width: 90%;
  padding: 2rem 0;
  margin: 2% auto;
  min-height: 70vh;
  overflow-y: auto;
  position: relative;
}

.Movies .Movie {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem;
}

.Movies .FoundSearch {
  display: none;
}

.Movies .NoSearch {
  padding: 2rem;
  margin: 0 auto;
  height: auto;
  width: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: block;
  background: #97271a;
  color: white;
  border-radius: .7rem;
  font-size: 3rem;
  font-weight: bold;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}
/*# sourceMappingURL=Movies.module.css.map */