$primaryTrans: transparent;
$primaryWhite: white;
$primaryBlack: black;
$primaryGrey: #eee;
$primaryColor: #04181A;
$card-button: #97271a;
$loaderColor: #521751;
$primarySuccess: #3a5514;
$lighterSuccess: #557429;
$primaryDanger: #944317;
$primaryAsh: #484E51;
$primaryBlur: rgb(37, 39, 41);
$secondaryBlur: rgb(25, 28, 29);