.modal {
  background: #fff;
  z-index: 999;
  padding: 1em 2em 2em;
  position: fixed;
  width: 38vw;
  top: 21%;
  bottom: 40px;
  left: calc(50% - 21vw);
  height: 55%;
  font-family: "Inter";
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #000;
  opacity: 0.75;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 12%;
  font-weight: bold;
}

.modal-content {
  display: flex;
  height: 88.5%;
}

.modal-image {
  width: 42%;
  padding-right: 2rem;
}

.movie-info-container {
  line-height: 1.5rem;
  overflow-y: auto;
}

.movie-info-body {
  padding: 1.5rem 1rem 1.5rem 0rem;
}

.close-x {
  cursor: pointer;
}
