@import "../../../styles/partials/mixin";
@import "../../../styles/partials/mediaQueries";
@import "../../../styles/partials/colors";

.Card {
    @include displayFlex();
    flex-direction: column;
    min-height: 20rem;
    width: 200px;
    background: $primaryGrey;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 2px 3px $primaryGrey;
    cursor: pointer;
    border-radius: .5rem;
    transition: transform .3s ease-in-out;

    @include responsive(medium-screens) {
        width: 100%;
    }

    &__poster {
        @include heightWidth(auto, 100%);
        min-height: 90%;

        &___image {
            @include heightWidth();
            border-radius: .5rem;
        }
    }

    &__rating {
        @include heightWidth(2rem, 2rem);
        @include centeredGrid();
        border: 2px solid $primaryBlack;
        background: $primaryWhite;
        border-radius: 50%;
        position: absolute;
        top: 1%;
        left: 5%;
    }

    &__details {
        @include heightWidth(auto, 100%);
        background: $primaryWhite;
        font-weight: bold;
        min-height: 10%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &:hover {
        transform: translate(3%, -3%);
    }
}