.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.movie-index {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.movie-index-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vh;
  padding: 0;
  justify-items: center;
}
